.services {
  padding: 60px 20px;
  text-align: center;
  background: #f9f9f9;
}

.services h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 40px;
}

/* Grid Layout */
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

/* Card */
.service-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}


/* Icon Circle */
.icon {
  font-size: 22px;
  color: #fff;
  background: #0ea5b7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text */
.service-card h4 {
  margin-bottom: 5px;
  font-size: 18px;
}

.service-card p {
  font-size: 14px;
  color: #777;
}

/* Hover Effect */
.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}